.basic_package_box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    background: rgba(51, 51, 51, 0.6);
    .package_box {
        background: #fff;
        width: 556px;
        height: 441px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 20px 30px 30px;
        h3 {
            display: flex;
            justify-content: space-between;
            .el-select {
                input {
                    width: 160px;
                    font-size: 16px;
                    font-family: Microsoft YaHei;
                    font-weight: bold;
                    color: rgba(35, 46, 65, 1);
                }
            }
            >.el-input {
                width: 326px;
                .el-input__inner {
                    font-size: 16px;
                    font-family: Microsoft YaHei;
                    font-weight: bold;
                    color: rgba(35, 46, 65, 1);
                    &:focus {
                        border-color: rgba(0, 193, 107, 1);
                    }
                }
            }
        }
        .el-table {
            height: 300px;
            &::before {
                height: 0;
            }
            thead {
                margin-top: 20px;
                th {
                    padding: 20px 0 5px 0;
                    border: 0;
                    line-height: 20px;
                    height: 20px;
                    div {
                        line-height: 20px;
                    }
                }
                .cell {
                    font-size: 14px;
                    font-family: Microsoft YaHei;
                    color: rgba(135, 141, 159, 1);
                    font-weight: normal;
                }
            }
            .el-table__body-wrapper::-webkit-scrollbar{
                width:7px;
            }
            tbody {
                tr {
                    height: 50px;
                    td {
                        border: 0;
                        padding: 0;
                        .cell {
                            font-size: 18px;
                            font-family: Microsoft YaHei;
                            font-weight: bold;
                            color: rgba(35, 46, 65, 1);
                            line-height: 40px;
                            >div {
                                font: inherit;
                            }
                        }
                    }
                }
                .el-input-number {
                    width: 60px;
                    .el-input--mini {
                        width: 100%;
                    }
                    input {
                        width: 100%;
                        height: 40px;
                        &:focus {
                            border-color: rgba(0, 193, 107, 1);
                        }
                    }
                }
                .el-select {
                    .el-input {
                        input {
                            font-family: "Microsoft YaHei";
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .el-table__empty-text {
                font-size: 18px;
            }
        }
        h4 {
            text-align: center;
            margin-top: 20px;
            .el-button {
                width: 88px;
                height: 32px;
                padding: 0;
                border: 1px solid rgba(0, 193, 107, 1);
                font-size: 18px;
                font-family: Microsoft YaHei;
            }
            .el-button--default {
                background: #fff;
                color: rgba(0, 193, 107, 1);
            }
            .el-button--primary {
                background: rgba(0, 193, 107, 1);
            }
        }
    }
}