html,
body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#packageTaskListBox .el-input__inner {
    font-weight: bold;
}

.dn {
    display: none;
}

.clear_float::after {
    content: "";
    display: block;
    height: 100%;
    clear: both;
}

.font16gray {
    font-size: 16px;
    font-family: Microsoft YaHei;
    color: rgba(135, 141, 159, 1);
}

.font16blod {
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.font18gray {
    font-size: 18px;
    font-family: Microsoft YaHei;
    color: rgba(135, 141, 159, 1);
}

.font18blod {
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(35, 46, 65, 1)
}

#app .btn150x40main {
    width: 150px;
    height: 40px;
    background: rgba(0, 193, 107, 1);
    border: 0;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#app .btn120x40 {
    width: 120px;
    height: 40px;
    background: rgba(0, 193, 107, 1);
    border: 0;
    font-size: 18px;
}

#app .btn88x32 {
    width: 88px;
    height: 32px;
    background: rgba(0, 193, 107, 1);
    border: 0;
    padding: 0;
    font-size: 18px;
}

#app .btn88x32empty {
    width: 88px;
    height: 32px;
    border-color: rgba(0, 193, 107, 1);
    background: #fff;
    color: rgba(0, 193, 107, 1);
    padding: 0;
    font-size: 18px;
}

.cssd_box input:focus {
    border-color: rgba(0, 193, 107, 1);
}

.cssd_box .el-select .el-input.is-focus .el-input__inner {
    border-color: rgba(0, 193, 107, 1);
}

.cssd_box .el-select .el-input__inner:focus {
    border-color: #9EA6B2;
}

.cssd_box .el-input input {
    border-color: #C4C9D1;
}

.cssd_box .el-input input:focus {
    border-color: rgba(0, 193, 107, 1);
}

#app input::-webkit-input-placeholder {
    font-weight: normal;
}

#app .inputNumber60x40 {
    width: 60px;
    height: 40px;
}

#app .el-input-number input {
    padding: 0;
    text-align: left;
    text-indent: 6px;
}

.el-input-number .el-input {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.el-input-number {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.el-input input {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.el-date-editor input {
    padding: 0 10px 0 35px;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    color: inherit;
}

#app .el-button {
    padding: 0;
}

.el-button span {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    color: inherit;
}

#app .el-select.green18x10 .el-input,
#app .el-select.white18x10 .el-input,
#app .el-select.green24x13 .el-input,
#app .el-select.white24x13 .el-input {
    position: relative;
}

#app .el-select.green18x10 .el-input.is-focus::after,
#app .el-select.green24x13 .el-input.is-focus::after,
#app .el-select.white18x10 .el-input.is-focus::after,
#app .el-select.white24x13 .el-input.is-focus::after {
    transform: rotate(180deg);
}

#app .el-select.green18x10 .el-input>span,
#app .el-select.green24x13 .el-input>span,
#app .el-select.white18x10 .el-input>span,
#app .el-select.white24x13 .el-input>span {
    display: none;
}

#app .el-select.green18x10 .el-input::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 11px;
    width: 18px;
    height: 10px;
    background: url(../images/arrow_green18x10.png) no-repeat;
    background-size: 18px 10px;
}

#app .el-select.green24x13 .el-input::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 10px;
    width: 24px;
    height: 13px;
    background: url(../images/arrow_green24x13.png) no-repeat;
    background-size: 24px 13px;
}

#app .el-select.white18x10 .el-input::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 11px;
    width: 18px;
    height: 10px;
    background: url(../images/arrow_white.png) no-repeat;
    background-size: 18px 10px;
}

#app .el-select.white24x13 .el-input::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 10px;
    width: 24px;
    height: 13px;
    background: url(../images/arrow_white24x13.png) no-repeat;
    background-size: 24px 13px;
}


/* 重置ui */

#app .el-checkbox__input.is-checked .el-checkbox__inner,
#app .el-checkbox__input.is-indeterminate .el-checkbox__inner,
#app .el-checkbox__input.is-indeterminate .el-checkbox__inner,
#app .el-radio__input.is-checked .el-radio__inner {
    background: #00C16B;
    border-color: #00C16B;
}

#app .el-table__expanded-cell:hover {
    background: #F7F8FA !important;
}


/* 下拉框重置ui */

html body .el-select-dropdown__item.selected,
#app .el-radio__input.is-checked+.el-radio__label,
html body .el-date-table td.available:hover,
html body .el-date-table td.today span,
html body .el-cascader-menu__item.is-active,
html body .el-time-panel__btn.confirm,
html body .el-button.is-plain:focus,
html body .el-button.is-plain:hover,
html body .el-button--text,
html body .el-message-box .el-message-box__btns .el-button--default:nth-child(1),
html body .el-picker-panel__shortcut:hover,
html body .el-picker-panel__icon-btn:hover,
html body .el-table th>.cell.highlight,
html body .el-checkbox__input.is-checked+.el-checkbox__label,
html body .el-table-filter__bottom button:hover,
html body .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #00C16B;
}

html body .el-date-table td.current:not(.disabled) span,
html body .el-message-box .el-message-box__btns .el-button--primary,
html body .el-date-table td.end-date span,
html body .el-date-table td.start-date span,
html body .el-checkbox__input.is-checked .el-checkbox__inner,
html body .el-checkbox__input.is-indeterminate .el-checkbox__inner,
html body .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #00C16B;
}

#app .el-textarea__inner:focus,
html body .el-checkbox__inner:hover,
html body .el-cascader .el-input.is-focus .el-input__inner,
html body .el-button.is-plain:focus,
html body .el-button.is-plain:hover,
html body .el-input__inner:focus,
html body .el-message-box .el-message-box__btns .el-button--primary,
html body .el-message-box .el-message-box__btns .el-button--default,
html body .el-checkbox__input.is-focus .el-checkbox__inner,
html body .el-select .el-input.is-focus .el-input__inner,
html body .el-select .el-input__inner:focus,
html body .el-range-editor.is-active,
html body .el-range-editor.is-active:hover {
    border-color: #00C16B;
}

html body .el-message-box .el-message-box__btns .el-button--default:nth-child(1):hover {
    background: #fff;
}

html body .el-date-picker__header>.el-date-picker__header-label:hover,
html body .el-date-picker__header>.el-picker-panel__icon-btn:hover,
html body .el-year-table td .cell:hover,
html body .el-year-table td.current:not(.disabled) .cell,
html body .el-month-table td .cell:hover,
html body .el-month-table td.current:not(.disabled) .cell,
html body .el-month-table td.today .cell,
html body .el-loading-spinner .el-loading-text,
html body .el-loading-spinner i,
html body .el-select-dropdown.is-multiple .el-select-dropdown__item.selected,
html body .el-button--text:focus,
html body .el-button--text:hover,
html body .el-year-table td.today .cell {
    color: #00C16B;
}

html body .el-message {
    top: 56px;
}

html body .el-loading-spinner i {
    font-size: 40px;
}

html body .el-table .ascending .sort-caret.ascending {
    border-bottom-color: #00C16B;
}

html body .el-table .descending .sort-caret.descending {
    border-top-color: #00C16B;
}

html body .el-select-dropdown {
    width: 160px;
}

html body .el-table::before {
    background-color: #f2f4f7;
}

html body .el-collapse-item__header,
html body .el-table th {
    border-bottom-color: #f2f4f7;
}

.expeditedTag {
    text-align: center;
    width: 80px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    font-family: Microsoft YaHei;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(255, 212, 114, 1) 0%, rgba(255, 154, 0, 1) 100%);
    color: #fff;
}

.el-collapse-item__header.is-active .expeditedTag {
    background: #fff;
    color: #00c16b;
}

#app .el-textarea .el-input__count {
    line-height: 36px;
    bottom: 2px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: normal;
    color: #C4C9D1;
    width: auto;
}

html body .el-table tbody td {
    border-bottom-color: #f2f4f7;
}

html body .el-table th.is-leaf {
    border-color: #f2f4f7;
}

.taskOrigin ul li {
    display: flex;
    justify-content: space-between;
}

.beyondHiding {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.el-switch {
    &.is-checked {
        .el-switch__core {
            &::after {
                left: 100%;
                margin-left: -17px;
            }
        }
    }
    .el-switch__core {
        width: 36px !important;
        &::after {
            top: -1px;
            left: 0px;
            width: 20px;
            height: 20px;
            box-shadow: 0px 0px 4px 0px rgba(51, 62, 80, 0.3);
        }
    }
}

body {
    .el-dialog {
        border-radius: 8px;
        .el-dialog__footer {
            display: flex;
            justify-content: center;
            .el-button {
                box-sizing: border-box;
                height: 32px;
                width: 88px;
                font-size: 18px;
            }
            .el-button--default {
                border: 1px solid #00C16B;
                color: #00C16B;
                &:hover,
                &:focus {
                    background: #fff;
                    color: #00C16B;
                    border-color: #00c16b;
                }
            }
            .el-button--primary {
                color: #fff;
                background: #00C16B;
                border: 1px solid #00C16B;
                &:hover,
                &:focus {
                    background: #00C16B;
                }
            }
        }
    }
}

html body .time-select-item.selected:not(.disabled) {
    color: #00C16B;
}

html body .el-popover .el-popover-content p {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

html body .el-popover .el-popover-content p span {
    width: 64px;
    color: #878D9F;
    text-align: right;
}

html body .el-popover .el-popover-content p b {
    width: 126px;
    font-weight: bold;
    color: #333;
}

// 收缩框样式
.shrinkNavBox {
    width: 240px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background: #182B37;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 59px;
    .border_div {
        height: 1px;
        background: #334048;
    }
    i {
        cursor: pointer;
    }
}

.expandNavBox {
    width: 20px;
    background: #182B37 url(../../assets/images/expandNavImg.png) center no-repeat;
    background-size: 9px 40px;
    cursor: pointer;
}